@charset "UTF-8";
@font-face {
  font-family: "Dotties Chocolate Regular";
  src: url(fonts/DottiesChocolate-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dotties Chocolate Medium";
  src: url(fonts/DottiesChocolate-Medium.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dotties Chocolate Extra Bold";
  src: url(fonts/DottiesChocolate-ExtraBold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dotties Chocolate Extra Bold Italic";
  src: url(fonts/DottiesChocolate-ExtraBoldItalic.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dotties Vanilla Light";
  src: url(fonts/DottiesVanilla-Light.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dotties Vanilla Light Italic";
  src: url(fonts/DottiesVanilla-LightItalic.woff);
  font-style: normal;
}

@font-face {
  font-family: "Dotties Vanilla Regular";
  src: url(fonts/DottiesVanilla-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dotties Vanilla Medium";
  src: url(fonts/DottiesVanilla-Medium.woff);
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
  font-size: 1em;
  font-weight: normal;
}

#menu {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 3;
}

#menu ul {
  margin-top: 30px;
  margin-left: 100px;
}

#menu ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
}

#menu ul li a {
  color: #A0A1AA;
  font-family: "Dotties Vanilla Regular";
  text-decoration: none;
  text-transform: uppercase;
}

#menu ul li a:visited {
  color: #A0A1AA;
}

#menu ul li a:hover, #menu ul li a:active {
  color: #2858A8;
}

#menu #botao-reserva {
  float: right;
  margin-right: 110px;
  font-size: 20px;
  margin-top: -24px;
}

#menu #botao-reserva a {
  color: #FFFFFF;
  font-family: "Dotties Chocolate Regular";
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 27px;
  padding-top: 4px;
  background: #2858A8;
  border: 7px solid #2858A8;
  border-radius: 5px;
}

#menu #botao-reserva a:visited {
  color: #FFFFFF;
}

#menu #botao-reserva a:hover {
  background: #3c74d1;
  border: 7px solid #3c74d1;
}

#home img {
  margin-top: 80px;
  margin-left: 120px;
  float: center;
  width: 439px;
  height: 349px;
}

#home h1 {
  width: 460px;
  margin-top: 200px;
  margin-right: 100px;
  color: #FFDFA6;
  font-family: "Dotties Chocolate Extra Bold Italic";
  font-size: 48px;
  line-height: 1.1em;
  text-align: center;
  float: right;
}

#home #collection img {
  display: block;
  width: 438px;
  height: 200px;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
}

#sobre p {
  width: 788px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: block;
  text-align: center;
  color: #A0A1AA;
  float: center;
  text-align: center;
  font-family: "Dotties Vanilla Light Italic";
  font-size: 20px;
  line-height: 1.5em;
}

#sobre img {
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: auto;
}

#sobre #diferenciais {
  height: 400px;
  width: 100%;
  background-color: #FFDFA6;
}

#sobre #diferenciais h2 {
  color: #2858A8;
  margin-top: -400px;
  margin-left: 712px;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: "Dotties Chocolate Extra Bold";
  font-size: 36px;
}

#sobre #diferenciais ul {
  width: 440px;
  color: #2858A8;
  margin-left: 712px;
  font-family: "Dotties Vanilla Medium";
  font-size: 20px;
  line-height: 1.5em;
}

#sobre #diferenciais li {
  margin-bottom: 17px;
}

#produtos {
  margin: 0px auto;
  margin-top: 100px;
  max-width: 960px;
}

#produtos h1 {
  color: #2858A8;
  font-family: "Dotties Chocolate Extra Bold";
  font-size: 48px;
  text-align: center;
  padding-bottom: 60px;
}

#produtos .produto .imagem {
  margin-bottom: 100px;
  display: block;
}

#produtos .produto .imagem img {
  height: 346px;
  width: 346px;
  position: static;
  z-index: 1;
}

#produtos .produto .imagem .preco {
  width: 160px;
  height: 152px;
  position: absolute;
  z-index: 2;
  margin-left: -24px;
  margin-top: 30px;
}

#produtos .produto .imagem .preco img {
  margin-top: 200px;
  margin-left: -56px;
  width: 160px;
  height: 152px;
}

#produtos .produto .imagem .preco h3 {
  position: absolute;
  color: #2858A8;
  font-family: "Dotties Chocolate Extra Bold";
  font-size: 48px;
  margin-left: -5px;
  margin-top: 260px;
}

#produtos .produto .imagem .preco p {
  position: absolute;
  color: #2858A8;
  font-family: "Dotties Chocolate Extra Bold";
  font-size: 16px;
  margin-left: 2px;
  margin-top: 300px;
}

#produtos .produto .descricao h2 {
  color: #2858A8;
  max-width: 550px;
  float: right;
  margin-top: -450px;
  text-align: right;
  font-family: "Dotties Chocolate Medium";
  font-size: 32px;
  padding-bottom: 32px;
}

#produtos .produto .descricao p {
  color: #A0A1AA;
  max-width: 520px;
  float: right;
  margin-top: -380px;
  text-align: right;
  font-family: "Dotties Vanilla Medium";
  font-size: 20px;
  line-height: 1.5em;
}

#reserva {
  height: 940px;
  padding: 50px 0px;
  background-color: #2858A8;
}

#reserva h1 {
  color: #FFFFFF;
  font-family: "Dotties Chocolate Extra Bold";
  font-size: 48px;
  text-align: center;
  padding: 50px;
}

#reserva form {
  margin: 0px 200px;
}

#reserva form label {
  color: #FFFFFF;
  font-family: "Dotties Chocolate Extra Bold";
  font-size: 24px;
  line-height: 1.5em;
}

#reserva form label[value="sim"], #reserva form label[value="não"] {
  font-family: "Dotties Chocolate Regular";
  padding-right: 80px;
}

#reserva form input, #reserva form select {
  height: 40px;
  width: 100%;
  color: #A0A1AA;
  font-family: "Dotties Vanilla Medium";
  font-size: 16px;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0px 20px;
}

#reserva form input:focus, #reserva form select:focus {
  outline: none;
}

#reserva form input[type=radio], #reserva form select[type=radio] {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

#reserva form input[type=submit], #reserva form select[type=submit] {
  display: block;
  width: 182px;
  height: 60px;
  color: #2858A8;
  background-color: #FFDFA6;
  text-transform: uppercase;
  font-family: "Dotties Chocolate Extra Bold";
  font-size: 24px;
  margin: 20px auto;
  padding-top: 5px;
}

#reserva form input[type=submit]:hover, #reserva form select[type=submit]:hover {
  background-color: #ffd07c;
}

#reserva form input[type=submit]:focus, #reserva form select[type=submit]:focus {
  outline: none;
}

footer {
  height: 200px;
  background-color: #FFDFA6;
  width: 100%;
}

footer img {
  display: block;
  width: 384px;
  padding: 10px;
  padding-top: 50px;
  margin: 0px auto;
}

footer p {
  color: #2858A8;
  font-family: "Dotties Vanilla Light";
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #home img {
    margin-left: 60px;
  }
  #home h1 {
    margin-right: 40px;
  }
  #sobre img {
    margin-bottom: 10px;
    width: 526px;
    height: 405px;
  }
  #sobre #diferenciais {
    margin-top: -400px;
    height: 365px;
  }
  #sobre #diferenciais h2 {
    float: right;
    padding: 20px 0px;
    margin-right: 205px;
    margin-left: auto;
    margin-top: 0px;
  }
  #sobre #diferenciais ul {
    margin-left: auto;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1023px) {
  #menu {
    height: 120px;
  }
  #menu ul li {
    display: none;
  }
  #menu #botao-reserva {
    margin-right: 80px;
    margin-top: 6px;
    font-size: 40px;
  }
  #menu #botao-reserva a {
    padding-top: 3px;
    border: 10px solid #2858A8;
  }
  #menu #botao-reserva a:hover {
    border: 10px solid #3c74d1;
  }
  #home img {
    margin: 0px auto;
    margin-top: 120px;
    float: center;
    padding: 0px 60px;
    width: 100%;
  }
  #home h1 {
    margin: 0px auto;
    margin-top: 40px;
    float: center;
    padding: 0px 60px;
    width: 100%;
  }
  #sobre {
    display: block;
  }
  #sobre p {
    width: 100%;
    padding: 0px 80px;
  }
  #sobre img {
    width: 100%;
    height: auto;
  }
  #sobre #diferenciais {
    display: -ms-grid;
    display: grid;
    background-color: #FFDFA6;
    margin-top: -25px;
    margin-bottom: 620px;
  }
  #sobre #diferenciais h2 {
    position: absolute;
    float: center;
    text-align: center;
    font-size: 50px;
    line-height: 1.25em;
    padding: 40px;
    width: 100%;
    margin: 0px auto;
    margin-top: 40px;
    background-color: #FFDFA6;
  }
  #sobre #diferenciais ul {
    display: block;
    position: absolute;
    float: center;
    text-align: center;
    font-size: 40px;
    padding: 80px;
    width: 100%;
    margin: 0px auto;
    margin-top: 200px;
    background-color: #FFDFA6;
  }
  #produtos {
    text-align: center;
    margin: 0px auto;
    margin-bottom: 40px;
    display: block;
    width: 100%;
  }
  #produtos h1 {
    display: block;
  }
  #produtos .produto {
    min-width: 300px;
    padding: 0px 60px;
    margin: 0px auto;
    width: 100%;
  }
  #produtos .produto .imagem {
    width: 100%;
    height: auto;
    float: center;
  }
  #produtos .produto .imagem img {
    height: 60%;
    width: 60%;
  }
  #produtos .produto .imagem .preco {
    width: 200px;
    height: 195px;
    margin-top: 160px;
    margin-left: -72px;
  }
  #produtos .produto .imagem .preco img {
    width: 200px;
    height: 195px;
  }
  #produtos .produto .imagem .preco h3 {
    font-size: 60px;
    margin-left: 22px;
    margin-left: 30px;
    margin-top: 270px;
  }
  #produtos .produto .imagem .preco p {
    font-size: 24px;
    margin-left: 29px;
    margin-left: 37px;
    margin-top: 330px;
  }
  #produtos .produto .descricao {
    display: -ms-grid;
    display: grid;
    margin-top: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #produtos .produto .descricao h2 {
    text-align: center;
    float: center;
    margin: 0px auto;
  }
  #produtos .produto .descricao p {
    max-width: none;
    width: 100%;
    text-align: center;
    font-size: 14px;
    float: center;
    margin: 0px auto;
    padding: 0px 40px;
    padding-bottom: 60px;
  }
  #reserva {
    height: 100%;
  }
  #reserva h1 {
    font-size: 60px;
  }
  #reserva form {
    margin: 0px 80px;
  }
  #reserva form label {
    font-size: 40px;
  }
  #reserva form input, #reserva form select {
    height: 60px;
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */